.border-primary {
    border: 1px solid #2f8be6 !important;
}

.border-info {
    border: 1px solid #00cfe8 !important;
}

.border-success {
    border: 1px solid #28c76f !important;
}

.border-warning {
    border: 1px solid #ff9f43 !important;
}

.border-danger {
    border: 1px solid #ea5455 !important;
}

.border-secondary {
    border: 1px solid #82868b !important;
}

.card-title {
    text-transform: uppercase;
}

.item-dashboard {
    position: relative;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
    border-bottom: none;
    background-color: transparent;
}

.function-right {
    display: flex;
    align-items: center;

    .form-control {
        font-size: .875rem;
        height: 2rem;
        padding: 0.25rem 0.5rem;
        padding-right: 1rem !important;
        min-width: 10rem;
        margin-right: 0.5rem;

        &:last-child {
            margin: 0;
        }
    }

    select.form-control:not([multiple='multiple']) {
        background-position: calc(100% - 2px) 7px, calc(100% - 14px) 7px, 100% 0;
    }
}

.transaction-item {
    .count-number {
        font-weight: 700;
        font-size: 1.125rem;
    }
}

.card-border {
    border-width: 2px !important;
    border-style: dashed !important;
    color: #6e6b7b;

    h2 {
        font-size: 2.5rem;
        margin: 0;
        font-weight: 700;
    }

    .avatar .avatar-content {
        width: 3rem;
        height: 3rem;
    }
}

.caption-title {
    text-transform: uppercase;
    font-size: 1.25rem;
    font-weight: 500;
    color: #6e6b7b;
    text-align: center;
    margin-top: 1rem;
    margin-bottom: .75rem;
}